/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  padding: 0 10px;
  min-height: 100vh;
  align-items: center;
  background: #020507;
  justify-content: center;
}
::selection{
  color: #fff;
  background: #3498DB;
}
.wrapper{
  height: 350px;
  max-width: 410px;
  background: #231f1f;
  border-radius: 7px;
  padding: 20px 25px 0;
  transition: height 0.2s ease;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.wrapper.active{
  height: 600px;
}
header h1{
  font-size: 30px;
  font-weight: 500;
  color: #f6f6f6;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
header p{
  margin-top: 5px;
  color: #f6f6f6;
  font-size: 16px;
}
.wrapper .form{
  margin: 20px 0 25px;
}
.form :where(input, button){
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: 0.1s ease;
  color: #130606;
}
.form input{
  font-size: 18px;
  padding: 0 17px;
  border: 1px solid #999;
}
.form input:focus{
  box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.form input::placeholder{
  color: #999;
}
.form button{
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  font-size: 17px;
  background: #3498DB;
}
#downloadBtn{
  color:#fff;

}
.qr-code{
  opacity: 0;
  display: flex;
  padding: 33px 0;
  border-radius: 5px;
  align-items: center;
  pointer-events: none;
  justify-content: center;
  border: 1px solid #ccc;
}
.wrapper.active .qr-code{
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s 0.05s ease;
}
.qr-code img{
  width: 170px;
}
.qr-footer{
  display: flex;
  justify-content: center;
}
.qr-footer a{
  background-color: var(--secondary-color);
  text-decoration: none;
  font-size: 20px;
  padding: 14px 36px;
  margin-inline: 2px;
  color: var(--primary-color);
  font-weight: 600;
  border-radius: var(--border-radius);
}

@media (max-width: 430px){
  .wrapper{
    height: 255px;
    padding: 16px 20px;
  }
  .wrapper.active{
    height: 510px;
  }
  header p{
    color: #696969;
  }
  .form :where(input, button){
    height: 52px;
  }
  .qr-code img{
    width: 160px;
  }  
  .qr-footer a{
    padding: 12px;
    font-size: 16px;
}
}